<!DOCTYPE html>

<html>
    
<head>
    <title>Joshua Roberts</title>
    <link rel="stylesheet", type="text/css" href="/css/main.css"/>
    <link rel="stylesheet", type="text/css" href="/css/bootstrap.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>
</head>

<body class="background">
    <div class="header-bar">
		<h1 class="name">JOSHUA ROBERTS</h1>
		<hr class="h-divider">
		<div class="hyperlinks">
			<a href="/">Work</a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
		</div>
		
		<!--
		<div class="media-links">
			<a href="https://www.github.com"><img src="/images/github.png"></a>
			<a href="https://www.linkedin.com"><img src="/images/linkedin.png"></a>
			<a href="https://www.twitter.com"><img src="/images/twitter.png"></a>
			<a href="https://www.vimeo.com"><img src="/images/vimeo.png"></a>
			
		</div>
		-->
	</div>
	<div class="text-body">
    {{ content }}
	</div>
</body>

</html>
